<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aquele Evento da Fatec</title>
</head>
<body>
    <h1>Bem vindo Aquele evento da Fatec</h1>
    <form action="." novalidate method="post">
        {% csrf_token %}
        <label for="{{ form.aluno.id_for_label }}">{{ form.aluno.label }}</label>
        {{ form.aluno.errors }}
        {{ form.aluno }}<br >

        <label for="{{ form.professor.id_for_label}}">{{ form.professor.label }} </label>
        {{ form.professor.errors }}
        {{ form.professor }}
        <br/>
        <input type="submit" value="Confirmar">
    </form>
</body>
</html>