<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aquele Evento da Fatec</title>
</head>
<body>
    <h1>Bem vindo Aquele evento da Fatec</h1>
    <form name="envio">
        <label for="aluno">Aluno: </label><input type="text" id="aluno" name="aluno"><br/>
        <label for="professor">Professor: </label>
        <select name="professor" id="professor">
            <option value="greg">Gregório</option>
            <option value="orlando">Orlando</option>
        </select>
        <br/>
        <input type="submit" value="Confirmar">
    </form>
</body>
</html>